In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("pnp_data.csv")
data

,math,english,science,logic,mbti,degree,primary,secondary,preferred
0,80,0,0,0,INTJ,NaN,accountant,NaN,NaN
1,80,0,0,0,INTP,NaN,computer programmer,NaN,NaN
2,80,0,0,0,ENTJ,NaN,entreprenuer,NaN,NaN
3,80,0,0,0,ENTP,NaN,professor,NaN,NaN
4,80,0,0,0,INFJ,NaN,librarian,NaN,NaN
...,...,...,...,...,...,...,...,...,...
59,0,0,0,80,ESFJ,NaN,training facilitator,NaN,NaN
60,0,0,0,80,ISTP,NaN,surveyor,NaN,NaN
61,0,0,0,80,ISFP,NaN,officer,NaN,NaN
62,0,0,0,80,ESTP,NaN,sales manager,NaN,NaN
63,0,0,0,80,ESFP,NaN,planner,NaN,NaN

In [3]:
X = data[['math','english','science','logic']].values
X[1:10]

array([[80,  0,  0,  0],
       [80,  0,  0,  0],
       [80,  0,  0,  0],
       [80,  0,  0,  0],
       [80,  0,  0,  0],
       [80,  0,  0,  0],
       [80,  0,  0,  0],
       [80,  0,  0,  0],
       [80,  0,  0,  0]], dtype=int64)

In [4]:
y = data['primary'].values
y[0:5]

array(['accountant', 'computer programmer', 'entreprenuer', 'professor',
       'librarian'], dtype=object)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.2,random_state=0)

In [6]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski',p=2)

In [8]:
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [9]:
from sklearn.metrics import *
print('Test accuracy is {}'.format(accuracy_score(y_test, y_pred)))

Test accuracy is 0.0

In [10]:
import pickle
Pkl_Filename = "Saved_Model.pkl"

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(classifier, file)

In [11]:
# Load the Model back from file
with open(Pkl_Filename, 'rb') as file:  
    Pickled_Model = pickle.load(file)

### new data prediction

In [12]:
newX = [[0,12,50,20]]
#newX_test = sc.transform(newX)

In [13]:
newypred = classifier.predict(newX)
newypred

array(['chef'], dtype=object)

In [14]:
Pickled_Model.predict(newX)

array(['chef'], dtype=object)

In [15]:
str(Pickled_Model.predict(newX))

"['chef']"

In [16]:
import re
re.sub(r'[^\w]', '', str(Pickled_Model.predict(newX)))

'chef'

In [24]:
Pickled_Model.predict_proba(newX)

array([[0. , 0. , 0. , 0. , 0. , 0. , 0.2, 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0.2, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0.2, 0. , 0. , 0. , 0.2, 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0.2, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ]])

In [25]:
Pickled_Model.classes_

array(['accountant', 'architect', 'artist', 'book keeper',
       'brand manager', 'business development officer', 'chef',
       'computer programmer', 'counsellor', 'designer', 'detective',
       'economist', 'environmental scientist', 'event manager',
       'film producer', 'finance officer', 'foreman',
       'forensic scientist', 'fundraiser', 'human resources', 'inspector',
       'interior designer', 'inventor', 'journalist', 'librarian',
       'mental health counselor', 'musician', 'nurse', 'office manager',
       'officer', 'paralegal', 'paramedic', 'personnel inspector',
       'planner', 'politician', 'professor', 'project manager',
       'psychologist', 'relationship manager', 'scientific researcher',
       'secretary', 'social scientist', 'supply chain manager',
       'surveyor', 'teacher', 'telemarketer', 'training facilitator',
       'training manager'], dtype=object)